pre {
  text-align: left;
}

.male {
  color: blue;
}

.female {
  color: red;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.rrs.VH {
  background-color: red;
  color: white;
}

.rrs.H {
  background-color: orange;
  color: white;
}

.rrs.M {
  background-color: yellow;
}

.rrs.L {
  background-color: green;
  color: white;
}

select.ao {
  font-weight: inherit;
}

table.margin-auto {
  margin: auto auto;
}

.room-color.white {
  background-color: white;
  color: black;
}

.room-color.yellow {
  background-color: yellow;
  color: black;
}

.room-color.orange {
  background-color: orange;
  color: white;
}

.room-color.red {
  background-color: red;
  color: white;
}

td > div.container {
  position: relative;
}
td:hover > div.continer > div {
  opacity: 0;
}
td:hover > div.container > select {
  opacity: 1;
  z-index: 1;
}
td > div.container > select {
  opacity: 0;
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 1em;
  min-width:100%;
}
